.form {
    display: inline-block;
}

.annotation {
    background-color: var(--theme-color-link);
    border: 1px solid dodgerblue;
    color: white;
    padding: 5px;
    border-radius: 5px;
    width: fit-content;
    display: inline-block;
    margin: 3px;
}


