.entry {
    display: block;
    clear: left;
    text-align: justify;
    margin-bottom: 2em;
    background-color: var(--theme-color-content-text-bg);
    border-radius: 7px;
    padding: 15px;
}

.entry .title {
    font-family: var(--font-title);
    font-size: 24px;
    font-weight: 400;
    height: 32px;
    border-bottom: 1px solid var(--theme-color-border);
    margin: 0;
}

.entry .title a {
    color: var(--theme-color-title);
}

.entrymetainfo, .entryfooter {
    font-size: 0.8em;
    color: #555;
    display: block;
    padding-top: 2px;
    font-family: sans-serif;
    margin-bottom: 0.5em;
}

.entrymetainfo a {
    border: 0;
    color: var(--theme-color-pop);
}

.tagslist {
    font-variant-caps: small-caps;
    float: right;
}

.tagslist:before {
    content: 'tags:';
}

.tagslist li {
    display: inline;
    margin-left: 0.3em;
}

.entry a.titleimage, .entry a.maplink {
    position: relative;
    left: -15px;
}

/**
 * Hacky, fine for now. Align embedded YouTube videos.
 */
.entry iframe {
    position: relative;
    left: -15px;
}

.entry p {
    margin: 0.5em 0 1em 0;
    line-height: 1.5em;
}

.entryfooter {
    text-align: center;
}

.entryfooter a {
    color: var(--theme-color-pop);
}
