.entry {
    display: block;
    clear: left;
    text-align: justify;
    margin-bottom: 2em;
    background-color: var(--theme-color-content-text-bg);
    border-radius: 7px;
    padding: 15px;
}

.entry .title {
    font-family: var(--font-title);
    font-size: 24px;
    font-weight: 400;
    height: 32px;
    border-bottom: 1px solid var(--theme-color-border);
    margin: 0;
}

.entry .title a {
    color: var(--theme-color-title);
    border: none;
}

.entry a {
    color: var(--theme-color-link);
    border-bottom: 1px solid var(--theme-color-link-underline);
}

.entrymetainfo, .entryfooter {
    font-size: 0.8em;
    color: #555;
    display: block;
    padding-top: 2px;
    font-family: sans-serif;
    margin-bottom: 0.5em;
}

.entrymetainfo a {
    border: 0;
    color: var(--theme-color-pop);
}

.tagslist {
    font-variant-caps: small-caps;
    float: right;
}

.tagslist:before {
    content: 'tags:';
}

.tagslist li {
    display: inline;
    margin-left: 0.3em;
}

.entry img, .entry a.maplink {
    position: relative;
    left: -15px;
    width: calc(100% + 30px); /* 15px margins, but we want full-width */
}

/**
 * Hacky, fine for now. Align embedded YouTube videos.
 */
.entry iframe[title="YouTube video player"] {
    position: relative;
    left: -15px;
    /* hacky fix for the problem of YT videos being hard-coded to 630px wide */
    --scale: calc(var(--post-width) / 630); /* --post-width set in Post.jsx */
    transform-origin: left center; /* Scale from the left */
    transform: scale(var(--scale));

}

.entry p {
    margin: 0.5em 0 1em 0;
    line-height: 1.5em;
}

.entryfooter {
    text-align: center;
}

.entryfooter a {
    color: var(--theme-color-pop);
}
