@import '@/styles/mixins.scss';

button.navButton {
    display: flex;
    flex-direction: row;
    gap: 0.3rem;
    justify-content: center;
    align-items: center;
    text-transform: lowercase;
    border-radius: 5px;
    padding: 5px;
    transition: all 200ms;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    @include poptextYellow();

    &:hover {
        @include unPop(white);
        @include gradientBackground();
    }

    .icon {
        width: 24px;
        height: 24px;
    }


}
