@import '~/styles/mixins.scss';

.githubActivitySection {
    --bg-white: rgba(255, 255, 255, 0.2);
    --bg-dark: rgba(0, 0, 0, 0.5);
    --text-color: white;
    overflow: hidden;

    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .inlineIcon {
        height: 1.2em;
        width: 1.2em;
    }

    .header {
        color: var(--text-color);
        display: flex;
        gap: 0.2rem;
        align-items: center;
        font-size: 1.2em;
        font-weight: 600;

        .readmeButton {
            position: absolute;
            right: 0;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            gap: 0.2rem;
            align-items: center;

            span {
                width: 0;
                overflow: hidden;
                transition: all 0.3s;
                font-size: 0.8em;
                text-align: right;
                font-weight: 400;
            }

            &:hover {
                color: var(--theme-color-pop);

                span {
                    width: 100px;
                }
            }
        }

    }

    .repo {
        color: var(--text-color);

        h2 {
            padding: 5px 0;

            .repoLink {
                @include poptextYellow;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .commit {
            display: flex;
            justify-content: space-between;
            gap: 0.5em;
            align-items: center;
            border: 1px solid transparent;
            border-top: 1px solid var(--bg-white);
            padding: 5px;
            border-radius: 5px;

            &:last-child {
                border-bottom: 1px solid var(--bg-white);
            }

            &:hover {
                background-color: var(--bg-white);
                border: 1px solid var(--bg-white);
            }

            .commitInfo {
                display: flex;
                flex-direction: column;

                .commitMessage {
                    color: white;
                    font-size: 0.8em;
                }

                .commitDate {
                    color: #ddd;
                    font-size: 0.6em;
                }
            }

            .commitHash {
                background-color: var(--bg-white);
                border-radius: 5px;
                padding: 5px 10px;
                font-family: monospace;
                color: var(--text-color);
            }

        }
    }
}
