@mixin slide($property, $from, $to, $pctVar) {
    #{$property}: $from;
    #{$property}: calc(#{$from} + (#{$to} - #{$from}) * var(#{$pctVar}));
}


.header {
    --scroll-y: 0; /* this will also have --scroll-y set by js */
    --scroll-scale: min(1, calc(var(--scroll-y) / 90)); /* 0 - 100% */
    z-index: 1; /* strangely, needed to stay above the YouTube iframes... wtf... */
    margin-bottom: 1rem;
    position: sticky;
    top: 0;
    @include slide(height, 150px, 80px, --scroll-scale);
    @include slide(padding-left, 0, 5px, --scroll-scale);
    @include slide(--bg-opacity, 0, 0.8, --scroll-scale);
    background-color: rgba(255, 255, 255, var(--bg-opacity));
    border-bottom: 2px solid rgba(0, 0, 0, var(--bg-opacity));
    transition: background-color 100ms;

    &:hover {
        background-color: rgba(255, 255, 255, 1);
    }

    .headerContent {
        width: 630px;
        max-width: calc(100vw - 20px);
        margin-left: auto;
        margin-right: auto;

        .titleBanner {
            @include slide(font-size, 80px, 60px, --scroll-scale);
            @include slide(letter-spacing, -10px, -5px, --scroll-scale);
            @incude slide(line-height, 120px, 90px, --scroll-scale);
            font-family: var(--font-title), serif;

            /* line-height: 120px; */
            margin: 0;
            padding: 0;

            position: sticky;
            top: 0;

            a {
                color: black;
                text-decoration: none;
            }
        }

        /* The UL that holds the navigation links */
        .sitenav {
            text-align: right;
            vertical-align: middle;
            margin: 0;

            position: absolute;
            bottom: 0;
            right: 0;

            li {
                display: inline;
                list-style-type: none;
                text-transform: lowercase;
                margin-left: 20px;
            }

            a {
                --icon-square-size: 40px;
                height: var(--icon-square-size);
                color: #000;
                margin: 3px;
                border: 0;
                display: inline-flex;
                align-items: center;
                border-radius: 5px;
                padding: 5px;

                &:before {
                    content: ' ';
                    font-size: 0;
                    height: var(--icon-square-size);
                    width: var(--icon-square-size);
                    background-repeat: no-repeat;
                    background-size: contain;
                    display: inline-block;
                    margin-right: 5px;
                }

                &:hover {
                    color: #e88c49;
                    background-color: oldlace;
                }
            }
        }
    }

}

.ytLink {
    &:before {
        background-image: url(https://www.google.com/s2/favicons?sz=64&domain=youtube.com);
    }
}

.threadsLink {
    &:before {
        background-image: url(https://www.google.com/s2/favicons?sz=64&domain=threads.net);
        border-radius: 50%;
    }
}

.searchButton {
    &:before {
        background-image: url(/icons/search-circle-fill.svg);
    }
}

.loginButton {
    &:before {
        background-image: url(/icons/login-circle.png);
    }
}


.content {
    font-family: HelveticaNeue-condensed, sans-serif;
    color: #222;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 630px;
    max-width: calc(100vw - 20px);
    margin-left: auto;
    margin-right: auto;
}

