@import '@/styles/mixins.scss';

.header {
    position: fixed;
    border-bottom: 2px solid transparent;
    width: 100%;
    z-index: 5; /* strangely, needed to stay above the YouTube iframes... wtf... */

    display: flex;
    flex-direction: column;
    padding: 0 2vw;

    .titleBanner {
        font-family: var(--font-title), serif;
        font-size: 60px;
        letter-spacing: -10px;
        margin: 0;
        padding: 0;
        top: 0;
        @include poptextYellow();

        a {
            color: black;
            text-decoration: none;
        }
    }

    /* The UL that holds the navigation links */
    .sitenav {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 0;
        padding: 0;

        .navitem {
            display: inline;
            list-style-type: none;
            margin-left: 20px;
            text-transform: lowercase;
        }

        a {
            --icon-square-size: 40px;
            align-items: center;
            border-radius: 5px;
            border: 0;
            color: #000;
            display: inline-flex;
            height: var(--icon-square-size);
            margin: 3px;
            padding: 5px;

            &:before {
                background-repeat: no-repeat;
                background-size: contain;
                content: ' ';
                display: inline-block;
                font-size: 0;
                height: var(--icon-square-size);
                margin-right: 5px;
                width: var(--icon-square-size);
            }

            &:hover {
                color: black;
                background-color: white;
            }
        }
    }


}

.searchButton {
    &:before {
        background-image: url(/icons/search-circle-fill.svg);
    }

    &:hover {
        color: black;
        filter: invert(1);
        transition: all 200ms;

    }
}

.loginButton {
    &:before {
        background-image: url(/icons/login-circle.png);
    }
}

.frontpage {
    z-index: 1;

    .content {
        font-family: HelveticaNeue-condensed, sans-serif;
        color: #222;
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;

        display: flex;
        flex-direction: column;

        .splash {
            width: 100%;
        }

        .tier2 {
            position: relative;
            display: flex;
            flex-direction: column-reverse;
            justify-content: space-between;
            align-items: flex-start;

            background: url(/img/gold-rush-desktop.jpg);
            background-repeat: no-repeat;
            background-attachment: fixed;
            padding: 2vw;

            gap: 2vw;
            z-index: 1;

            &:before {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                content: '';
                height: 2vw;
                background: linear-gradient(#556, transparent);
            }

            @media only screen and (min-width: 800px) {
                flex-direction: row;
                flex-basis: 1;

                section {
                    width: 100%;
                    max-width: 50%;
                    min-width: 40%;
                    z-index: 1;
                }

            }
        }
    }
}
