@mixin small() {
    @media only screen and (max-width: 760px) {
        @content;
    }
}

@mixin large() {
    @media only screen and (min-width: 761px) {
        @content;
    }
}

@mixin poptextYellow() {
    @include poptext(yellow, orange);
}

@mixin popSvgYellow() {
    color: yellow;



}

@mixin poptextSectionHeader() {
    @include poptext(white, #999);
}

@mixin poptext($fromColor, $toColor) {
    background: -webkit-linear-gradient($fromColor, $toColor);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin unPop($color) {
    background: unset;
    -webkit-background-clip: unset;
    -webkit-text-fill-color: unset;
    color: $color;
}

@mixin gradientBackground() {
    background: -webkit-linear-gradient(yellow, orange);
}

@mixin backgroundCrossFade() {
    background: linear-gradient(105deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9));
}
